<mat-card class="forecast-card">
  <div fxLayout="column" fxFill class="content">
    <div fxLayout="column" fxLayout.gt-xs="row">
      <span
        fxFlex="1 1"
        fxLayoutAlign="start center"
        *ngIf="!loadingCities && !loading"
        fxFlexOrder.xs="3"
      >
        <span [fxHide]="loading">
          {{ weatherData?.updated ? 'Updated:' : 'Sample:' }}
          {{
            weatherData?.updated || (weatherData?.list)[0].dt * 1000
              | date: 'EEE dd MMM HH:mm'
          }}
          <br />
          {{ 'Forecast time slots: ' + weatherData?.cnt }} <br />
          {{ ip ? 'IP: ' + ip : '' }}
        </span>
      </span>
      <span
        fxFlex="1 1"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlexOrder.xs="1"
      >
        <h4>OWM Forecast</h4>
      </span>
      <span
        fxFlex="1 1"
        fxLayoutAlign="center end"
        fxLayoutAlign.xs="center start"
        [fxHide]="loadingCities || loading"
        fxFlexOrder.xs="2"
      >
        <span fxFlex fxFlexOrder.xs="2"></span>
        <mat-form-field fxFlexOrder.xs="1">
          <mat-select
            placeholder="City"
            [(value)]="selectedCityId"
            (selectionChange)="onChange()"
          >
            <mat-option
              *ngFor="let city of (cities$ | async | keyvalue | sortCities)"
              [value]="city.key"
            >
              <span fxFlex> {{ city.value.name }} </span>
              <span fxFlex fxLayoutAlign="end center">
                {{ city.value.iso2 }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>
    </div>

    <div
      fxFlex
      fxLayout="row"
      [fxHide]="loading || loadingCities"
      class="scroll-this"
    >
      <div fxFlex="8%" fxLayout="column" fxFill>
        <div
          fxFlex="10%"
          fxFlex.gt-sm="7%"
          fxLayout="column"
          class="table-00-background"
        >
          <span fxLayoutAlign="end center">Hour</span>
          <div fxFlex></div>
          <span fxLayoutAlign="start start">Date</span>
        </div>

        <div fxFlex fxLayout="column" fxFill>
          <div
            fxFlex
            fxLayoutAlign="start center"
            class="table-date_cell-background"
            *ngFor="
              let dataDaily of (weatherData?.listByDate | keyvalue);
              index as $index
            "
          >
            <span fxLayout="column" fxLayout.gt-md="row">
              <span> {{ dataDaily.key | date: 'EEE' }}&nbsp; </span>
              <span> {{ dataDaily.key | date: 'dd MMM' }} </span>
            </span>
          </div>
        </div>
      </div>

      <div fxFlex fxLayout="column" class="scroll-this">
        <div fxFlex="10%" fxFlex.gt-sm="7%" fxLayout="row">
          <span
            fxFlex
            fxLayoutAlign="center center"
            class="table-header-background"
            *ngFor="let timeSlot of timeTemplate; index as ind"
            [ngStyle]="{
              'background-color': timeTemplate[ind].bgColor,
              color: timeTemplate[ind].textColor
            }"
          >
            {{ (timeSlot.hour > 9 ? '' : '0') + timeSlot.hour + ':00' }}
          </span>
        </div>

        <div
          fxFlex
          *ngFor="
            let dataDaily of (weatherData?.listByDate | keyvalue);
            index as $index
          "
        >
          <span
            fxFlex
            fxLayout="row"
            *ngFor="let timeSlot of timeTemplate; index as ind"
          >
            <span
              fxFlex
              class="table-data_cell_empty-background"
              *ngIf="!dataDaily.value[timeSlot.hour]"
            ></span>
            <span
              fxFlex
              *ngIf="dataDaily.value[timeSlot.hour]"
              class="table-data_cell-background"
              [ngStyle]="{
                'background-color': timeTemplate[ind].bgColor,
                color: timeTemplate[ind].textColor
              }"
              fxLayout="column"
              fxLayoutAlign="center center"
            >
              <div fxFlex fxLayout="row" fxLayoutAlign="center center">
                <img
                  [src]="
                    iconsUrl +
                    dataDaily.value[timeSlot.hour].weather[0].icon +
                    '.png'
                  "
                />
                {{ dataDaily.value[timeSlot.hour].weather[0].main }}
                {{
                  dataDaily.value[timeSlot.hour].main.temp | number: '1.0-0'
                }}&#176;C
              </div>

              <div fxFlex fxLayout="column" >
                <span
                  fxFlex="25%"
                  fxLayout="row"
                  fxLayoutAlign="start end"
                  class="table-secondary_data_line"
                >
                  <img [src]="iconPressure" />
                  <span fxFill class="table-secondary_data-opacity">
                    <span fxFlex="50%" fxLayoutAlign="end end">
                      &nbsp;{{
                        dataDaily.value[timeSlot.hour].main.pressure
                          | number: '1.0-0'
                      }}
                    </span>
                    <span fxFlex fxLayoutAlign="start end">
                      &nbsp;<small>mmHg</small>
                    </span>
                  </span>
                </span>

                <span
                fxFlex="25%"
                fxLayout="row"
                fxLayoutAlign="start end"
                class="table-secondary_data_line"
                >
                <img [src]="iconWind" />
                <span fxFill class="table-secondary_data-opacity">
                  <span fxFlex="50%" fxLayoutAlign="end end">
                    &nbsp;{{
                      dataDaily.value[timeSlot.hour].wind.speed
                      | number: '1.0-0'
                    }}
                  </span>
                  <span fxFlex fxLayoutAlign="start end">
                    &nbsp;<small>m/s</small>
                  </span>
                </span>
              </span>

              <span
              fxFlex="25%"
              fxLayout="row"
              fxLayoutAlign="start end"
              class="table-secondary_data_line"
              >
              <img [src]="iconHumidity" />
              <span fxFill class="table-secondary_data-opacity">
                <span fxFlex="50%" fxLayoutAlign="end end">
                  &nbsp;{{
                    dataDaily.value[timeSlot.hour].main.humidity
                    | number: '1.0-0'
                      }}
                    </span>
                    <span fxFlex fxLayoutAlign="start end">
                      &nbsp;<small>%</small>&nbsp;
                    </span>
                  </span>
                </span>
              </div>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <span fxFlex fxLayoutAlign="start center">
        <span *ngIf="!loadingStats">
          OWM Requests:{{ stats.r || 0 }} Updates:{{ stats.u || 0 }}
        </span>
      </span>
      <span fxFlex></span>
      <span fxFlex fxLayoutAlign="end center">
        <span *ngIf="!loadingCities && !loading" fxLayoutAlign="end center">
          {{ cities[selectedCityId].name + ' ' }} Requests:{{
            cities[selectedCityId].r || 0
          }}
          Updates:{{ cities[selectedCityId].u || 0 }}
        </span>
      </span>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</mat-card>
